@page "/"
@using BlazorProjectVenkat.Shared
    <style>
        .sf-license-warning {
            display: none!important;
        }
    </style>

@if (Employees == null)
{ 
<div class="spinner-border m-5" role="status">
    <span class="sr-only">Loading...</span>
</div>
}

@if (Employees != null)
{
    <SfGrid DataSource="@Employees" AllowPaging="true" AllowSorting="true">
        <GridSortSettings AllowUnsort="false"></GridSortSettings>
        <GridPageSettings PageSize="5" page PageSizes="@pagerDropdown"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(Employee.EmployeeId) HeaderText="ID"></GridColumn>
            <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.LastName) HeaderText=" Last Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
            <GridColumn AllowSorting="false" Field=@nameof(Employee.DepartmentId) HeaderText="Department"></GridColumn>
        </GridColumns>
    </SfGrid>
}


@code {
public List<Employee> Employees { get; set; }

string[] pagerDropdown = new string[] { "All", "5", "10", "15", "20" };

[Inject]
public IEmployeeService EmployeeService { get; set; }

protected override async Task OnInitializedAsync()
{
   @* await Task.Delay(4000);*@
    Employees = (await EmployeeService.GetEmployees()).ToList();
}

}