@page "/"
@using BlazorProjectVenkat.Shared


@if (Employees == null)
{ 
<div class="spinner-border m-5" role="status">
    <span class="sr-only">Loading...</span>
</div>
}

@if(Employees != null){
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Employees)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>

                <td>
                    @item.LastName
                </td>

                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>
}


@code {
public List<Employee> Employees { get; set; }

[Inject]
public IEmployeeService EmployeeService { get; set; }

protected override async Task OnInitializedAsync()
{
    await Task.Delay(4000);
    Employees = (await EmployeeService.GetEmployees()).ToList();
}

}