@page "/"
@using BlazorProjectVenkat.Shared

@if(Employees != null){
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Employees)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>

                <td>
                    @item.LastName
                </td>

                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>
}


@code {
public List<Employee> Employees { get; set; }

[Inject]
public IEmployeeService EmployeeService { get; set; }

protected override async Task OnInitializedAsync()
{
    Employees = (await EmployeeService.GetEmployees()).ToList();
}

}